.cart-icon{
    height: 45px;
    width: 45px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    top: -3px;

    .shopping-icon{
        height: 28px;
        width: 28px;
    }

    .item-count{
        font-size: 12px;
        font-weight: bold;
        position: absolute;
        bottom: 10px;
    }
}