
.email-box-desc{
    font-size: 1.3rem;
    font-weight: 300;
}

.email-box-desc span{
    font-weight: 600;
    font-size: 1.5rem;
}

@media screen and (max-width: 800px){
    .email-box-container{
        width: 90vw;
        text-align: center;
    }
}